# Ignore Python environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/

# Ignore Docker build files
*.tar
*.log
docker-compose.override.yml

# Ignore AWS credentials & sensitive files
*.pem
.env
aws-credentials.json
*.key

# Ignore IDE and system files
.DS_Store
.idea/
.vscode/

__pycache__/
.venv/
*.pyc
.DS_Store
.env/
.idea/  # Pycharm files

/data/
/web/